<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="utf-8">
  <title>How Masks Protect Communities</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="How Masks Stop the Spead of COVID-19">
  <meta name="author" content="Aatish Bhatia">
  <link rel="icon" href="favicon.ico" type="image/x-icon">

  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,300;1,600&family=Raleway:wght@200;300;400;700&display=swap" rel="stylesheet"> 

  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Who Does a Mask Protect?">
  <meta name="twitter:description" content="Even partly-effective masks can stop the spread of COVID-19, so long as enough people wear them.">
  <meta name="twitter:site" content="@aatishb">
  <!-- Twitter Summary card images must be at least 120x120px -->
  <meta name="twitter:image" content="https://aatishb.com/maskedu/assets/twitter-banner.png">
  
  <!-- Open Graph data -->
  <meta property="og:title" content="Who Does a Mask Protect?" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://aatishb.com/maskedu/" />
  <meta property="og:image" content="https://aatishb.com/maskedu/assets/twitter-banner.png" />
  <meta property="og:description" content="Even partly-effective masks can stop the spread of COVID-19, so long as enough people wear them." />

</head>

<body>
<div id="root" class="page">

  <div class="container">

    <h2>Summary of <a href="index.html">Page 1</a></h2>

    <p>
      When both the contagious and the susceptible person wear 50% effective masks, the first mask cuts disease transmission in half, and the second mask cuts it in half again. So disease transmission is 50% × 50% = 25% (compared to when neither wear masks), which means the <b>drop in disease transmission</b> is 75%.
    </p>

    <img src="assets/route4-inv.png" alt="Disease Transmission in Interaction 4">

    <p>
      If you think about it, it's surprising that 50% effective masks can reduce disease transmission by 75%.
      This is possible because when both people wear masks, disease transmission is halved twice.
      This <b>double protection</b> makes masks much more effective than you might intuitively expect.
    </p>

    <p>Here are all four interactions by which a contagious respiratory disease can spread from one person to another.</p>

  </div>

  <div class="graphic">

    <div class="graphic-container">

    <div style="width: 100%"><h3 id="1"><a href="#1">Simulation 2.1</a></h3></div>

      <div class="row small-big-small">

        <div class="column onehundredpx">
          <div class="center" style="height: 50px !important;">Interaction Type</div>
          <div class="center"><span class="red bigger">1</span></div>
          <div class="center"><span class="orange bigger">2</span></div>
          <div class="center"><span class="orange bigger">3</span></div>
          <div class="center"><span class="yellow bigger">4</span></div>
        </div>

        <div class="column onehundredpx">
          <div class="center"  style="height: 50px !important;"></div>
          <anim :mask1="false" :mask2="false"></anim>
          <anim :mask1="true" :mask2="false" :eout="0.5"></anim>
          <anim :mask1="false" :mask2="true" :ein="0.5"></anim>
          <anim :mask1="true" :mask2="true" :eout="0.5" :ein="0.5"></anim>
        </div>

        <div class="column onehundredpx">
          <div class="center"  style="height: 50px !important;">Drop in Disease Transmission</div>
          <div class="center"><span class="red bigger">0%</span></div>
          <div class="center"><span class="orange bigger">50%</span></div>
          <div class="center"><span class="orange bigger">50%</span></div>
          <div class="center"><span class="yellow bigger">75%</span></div>
        </div>

      </div>

      <div class="caption">
        The four ways that COVID-19 can spread through the air from person to person.<br>
        The drop in disease transmission is calculated assuming a 50% effective mask.
      </div>

    </div>

  </div>

  <div class="container">

    <h2>From People to The Community</h2>

    <p>
      So far, we've only considered disease transmission between two people.
      How do we go from here to understanding disease transmission in the <i>community</i>?
    </p> 

    <p>Well, in the extreme limits, this is straightforward.</p> 

    <p>For example, what if <b>no one</b> wore a mask?</p>

    <h3 id="2"><a href="#2">Simulation 2.2</a></h3>

    <network :maskusage="0" :height="0.33"></network>
    <div class="caption">
      A community where no one wears a mask.<br>
    </div>

    <br>
    <aside @click="expandaside1 = true;">
      <span>
        <p>
          What types of the four different interactions could happen in a community where <b>no one</b> wore a mask? What would be the overall drop in transmission in this community?
          <span v-if="!expandaside1">(Click to expand)</span>
        </p>
      </span>

      <span v-if="expandaside1">
        <p>
          Since interactions <span class="orange"><b>2</b></span>, <span class="orange"><b>3</b></span>, and <span class="yellow"><b>4</b></span> require at least one person to wear a mask, these interactions could not happen in this example.
          Only <span class="red"><b>interaction 1</b></span> can occur in this example, and so the community would see a <span class="red"><b>0% drop</b></span> in disease transmission.
        </p>

        <div class="graphic" style="font-style: normal !important;">
          <div class="graphic-container">
            <div class="row small-small-big-small">

              <div class="column onehundredpx">
                <div class="center big">Could This Happen?</div>
                <div class="center"><span class="bigger">✅</span></div>
                <div class="center"><span class="bigger">🚫</span></div>
                <div class="center"><span class="bigger">🚫</span></div>
                <div class="center"><span class="bigger">🚫</span></div>
              </div>

              <div class="column onehundredpx">
                <div class="center big">Interaction Type</div>
                <div class="center"><span class="red bigger">1</span></div>
                <div class="center"><span class="orange bigger">2</span></div>
                <div class="center"><span class="orange bigger">3</span></div>
                <div class="center"><span class="yellow bigger">4</span></div>
              </div>

              <div class="column onehundredpx">
                <div class="center big"></div>
                <anim :mask1="false" :mask2="false"></anim>
                <anim :mask1="true" :mask2="false" :eout="0.5"></anim>
                <anim :mask1="false" :mask2="true" :ein="0.5"></anim>
                <anim :mask1="true" :mask2="true" :eout="0.5" :ein="0.5"></anim>
              </div>

              <div class="column onehundredpx">
                <div class="center big">Drop in Disease Transmission</div>
                <div class="center"><span class="red bigger">0%</span></div>
                <div class="center"><span class="orange bigger">50%</span></div>
                <div class="center"><span class="orange bigger">50%</span></div>
                <div class="center"><span class="yellow bigger">75%</span></div>
              </div>

            </div>
          </div>
        </div>


      </span>
    </aside>
    <br>

    <p>What if <b>everyone</b> wore a mask?</p>

    <h3 id="3"><a href="#3">Simulation 2.3</a></h3>

    <network :maskusage="1" :height="0.33"></network>
    <div class="caption">
      A community where every one wears a mask.<br>
    </div>


    <br>
    <aside @click="expandaside2 = true;">
      <span>
        <p>
          What types of the four different interactions could happen in a community where <b>everyone</b> wore a mask? What would be the overall drop in transmission in this community?
          <span v-if="!expandaside2">(Click to expand)</span>
        </p>
      </span>

      <span v-if="expandaside2">
        <p>
          Since interactions <span class="red"><b>1</b></span>, <span class="orange"><b>2</b></span>, and <span class="orange"><b>3</b></span> require at least one person to <b>not</b> wear a mask, these interactions could not happen in this example.
          Only <span class="yellow"><b>interaction 4</b></span> can occur in this example, and so assuming that masks are 50% effective, the community would see a <span class="yellow"><b>75% drop</b></span> in disease transmission.
        </p>

        <div class="graphic" style="font-style: normal !important;">
          <div class="graphic-container">
            <div class="row small-small-big-small">

              <div class="column onehundredpx">
                <div class="center big">Could This Happen?</div>
                <div class="center"><span class="bigger">🚫</span></div>
                <div class="center"><span class="bigger">🚫</span></div>
                <div class="center"><span class="bigger">🚫</span></div>
                <div class="center"><span class="bigger">✅</span></div>
              </div>

              <div class="column onehundredpx">
                <div class="center big">Interaction Type</div>
                <div class="center"><span class="red bigger">1</span></div>
                <div class="center"><span class="orange bigger">2</span></div>
                <div class="center"><span class="orange bigger">3</span></div>
                <div class="center"><span class="yellow bigger">4</span></div>
              </div>

              <div class="column onehundredpx">
                <div class="center big"></div>
                <anim :mask1="false" :mask2="false"></anim>
                <anim :mask1="true" :mask2="false" :eout="0.5"></anim>
                <anim :mask1="false" :mask2="true" :ein="0.5"></anim>
                <anim :mask1="true" :mask2="true" :eout="0.5" :ein="0.5"></anim>
              </div>

              <div class="column onehundredpx">
                <div class="center big">Drop in Disease Transmission</div>
                <div class="center"><span class="red bigger">0%</span></div>
                <div class="center"><span class="orange bigger">50%</span></div>
                <div class="center"><span class="orange bigger">50%</span></div>
                <div class="center"><span class="yellow bigger">75%</span></div>
              </div>

            </div>
          </div>
        </div>

      </span>
    </aside>

    <p>
      When <i>everyone</i> wears a mask (or when <i>no one</i> wears one), we can calculate the drop in disease transmission in the community, because there's only one type of interaction involved.
    </p>

    <p>
      But in reality, some people wear masks and others don’t.
      Which means the virus can spread through a <b>mix of all four interactions</b>.
    </p>

    <p>So how does the likelihood of each type of interaction depend on the mask usage? To find out, take a look at the simulation below.</p>

    <p>This simulation shows how often each type of interaction occurs in a crowd of people who are interacting with each other at random. Although the exact percentage of each interaction changes from moment to moment, can you identify any patterns or trends?</p>

    <h3 id="4"><a href="#4">Simulation 2.4</a></h3>

    <div style="padding: 1rem; border: 1px solid rgba(255, 190, 137, 0.5);">

      <label class="row small-big-small bigsplash" style="margin-bottom: 0.75rem;">
        <div style="margin: 0.5rem;">Mask Usage: <span class="dotted">{{convertToPercent(pnetwork)}}</span>%</div>
        <slider v-model="pnetwork" :min="0" :max="1" :step="0.01" style="margin: 0.5rem;"></slider>
        <button @click="paused = !paused;" style="margin: 0.5rem;" class="button">{{playpause}}</button>
      </label>

      <network :maskusage="pnetwork" :height="0.5" :networkdata="networkdata" :paused=paused></network>
      <div class="caption">
        A community where <span class="dotted">{{convertToPercent(pnetwork)}}</span>% of people wear masks.
      </div>

      <br>

      <div class="row small-big">

        <div class="column fiftypx">
          <div class="center">Interaction Type</div>
          <div class="row half"><div class="red center bigger">1</div> <div class="center">😐😐</div></div>
          <div class="row half"><div class="orange center bigger">2,3</div> <div class="center">😷😐+😐😷</div></div>
          <div class="row half"><div class="yellow center bigger">4</div> <div class="center">😷😷</div></div>
        </div>

        <div class="column fiftypx">
          <div class="center">Percentage of Interactions Observed</div>
          <percentbar :color="red" :percent="p0"></percentbar>
          <percentbar :color="orange" :percent="p1"></percentbar>
          <percentbar :color="yellow" :percent="p2"></percentbar>
        </div>

      </div>

    </div>

    <h2>How Masks Protect Communities</h2>

    <p>
      The simulation above shows us how the percentage of interactions depends on mask usage. However, because this simulation shows the exact number of interactions at a given time, these percentages can change from moment to moment, i.e. they can <b>fluctuate</b>.
    </p>

    <p>
      We can solve this problem by <b>averaging</b> the numbers of interactions. The simulation below shows the average percentage of interactions of each type instead of the moment-to-moment percentages. By averaging the data, we can smooth out the fluctuations and identify the trends more clearly.
    </p> 

    <p>
      Drag the slider below to see how disease transmission in a community depends on mask usage. Do these average percentages line up with what you expect based on the previous simulation?
    </p>

  </div>

  <div class="graphic">
    <div class="graphic-container">
      <div style="width:100%;"><h3 id="5"><a href="#5">Simulation 2.5</a></h3></div>
    </div>
  </div>

  <div class="graphic">
    <div class="graphic-container" style="padding: 1rem; border: 1px solid rgba(255, 190, 137, 0.5);">

      <label class="row half bigsplash">
        <div>Mask Usage: <span class="dotted">{{convertToPercent(p)}}</span>%</div>
        <slider v-model="p" :min="0" :max="1" :step="0.01"></slider>
      </label>

      <div class="row small-big-small-small" style="padding-top: 1rem;">

        <div class="column onehundredpx">
          <div class="center" style="height: 50px !important;">Interaction Type</div>
          <div class="center"><span class="red bigger">1</span></div>
          <div class="center"><span class="orange bigger">2</span></div>
          <div class="center"><span class="orange bigger">3</span></div>
          <div class="center"><span class="yellow bigger">4</span></div>
        </div>

        <div class="column onehundredpx">
          <div class="center" style="height: 50px !important;"></div>
          <anim :mask1="false" :mask2="false"></anim>
          <anim :mask1="true" :mask2="false" :eout="eout"></anim>
          <anim :mask1="false" :mask2="true" :ein="ein"></anim>
          <anim :mask1="true" :mask2="true" :eout="eout" :ein="ein"></anim>
        </div>

        <div class="column onehundredpx">
          <div class="center" style="height: 50px !important;">Percentage of Interactions</div>
          <div class="center"><span class="red bigger"><span class="dotted">{{convertToPercent(l1)}}</span>%</span></div>
          <div class="center"><span class="orange bigger"><span class="dotted">{{convertToPercent(l2)}}</span>%</span></div>
          <div class="center"><span class="orange bigger"><span class="dotted">{{convertToPercent(l3)}}</span>%</span></div>
          <div class="center"><span class="yellow bigger"><span class="dotted">{{convertToPercent(l4)}}</span>%</span></div>
        </div>

        <div class="column onehundredpx">
          <div class="center" style="height: 50px !important;">Drop in Disease Transmission</div>
          <div class="center"><span class="red bigger"><span>{{convertToPercent(d1)}}</span>%</span></div>
          <div class="center"><span class="orange bigger"><span>{{convertToPercent(d2)}}</span>%</span></div>
          <div class="center"><span class="orange bigger"><span>{{convertToPercent(d3)}}</span>%</span></div>
          <div class="center"><span class="yellow bigger"><span>{{convertToPercent(d4)}}</span>%</span></div>
        </div>

      </div>


      <div class="row half bigsplash">
        <span>Drop in Community Disease Transmission: <span class="dotted" style="font-size: 2rem;"><b>{{convertToPercent(1 - (1 - ein * p) * (1 - eout * p))}}</b></span>%</span>
      </div>

      <div class="row half bigsplash">
        <span>Drop in Disease Transmission to Non-Mask Wearers: <span class="dotted">{{convertToPercent(eout * p)}}</span>%</span>
      </div>

      <div class="row half bigsplash">
        <span>Drop in Disease Transmission to Mask-Wearers: <span class="dotted">{{convertToPercent(1 - (1 - eout * p) * (1 - ein))}}</span>%</span>
      </div>

    </div>
  </div>
  
</div>

<script src="libraries/plotly-basic.min.js"></script>
<script src="libraries/vue.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=IntersectionObserver"></script>
<script src="libraries/vue-observe-visibility.js"></script>
<script src="libraries/p5.min.js"></script>
<script src="libraries/lambertw.js"></script>
<script src="js/vue-definitions.js"></script>
</body>

</html>
